# Site settings
title: "Flickorz 3D Collections"
description: "Flickorz 3D Limited Edition Collections - Blender"
baseurl: "/collections" # Your subpath
url: "https://flickorz.github.io"

# Theme
theme: jekyll-theme-chirpy

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
