body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212933;
    color: #333;
    display: flex;
    justify-content: center;
}

@-moz-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }

header {
    background-color: #212933;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 2rem);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}

main {
    -moz-animation: fade 6s;
	-webkit-animation: fade 6s;
	-o-animation: fade 6s;
	-ms-animation: fade 6s;
    animation: fade 6s;
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.item {
    background: #F2F4F3;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item h2 {
    margin: 0 0 0.5rem;
    color: #212933;
}

.item .description {
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
}

.description-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.description-container.collapsed {
    max-height: 500px; /* Increase if the description and image height exceeds this */
}

.description-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.toggle-btn {
    background-color: #212933;
    color: #F2F4F3;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: rgb(211, 99, 54);
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.links a {
    text-decoration: none;
    color: #F2F4F3;
    background-color: #212933;
    padding: 0.3rem 0.7rem;
    text-shadow: #222222 1px 0 3px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(20% - 0.3rem); /* Compact five links per row */
}

.links a:hover {
    background-color: rgb(211, 99, 54);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}
