/* Reset some default browser styles */
body, h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #212933;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@-moz-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }

.container {
    -moz-animation: fade 6s;
	-webkit-animation: fade 6s;
	-o-animation: fade 6s;
	-ms-animation: fade 6s;
    animation: fade 6s;
    text-align: center;
    width: 90%;
    max-width: 400px;
    background: #212933;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 rgba(0, 0, 0, 0);
}

.main {
    margin-bottom: 20px;
}

.avatar {
    width: 30%;
    margin-bottom: 10px;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    border-radius: 8%;
    -webkit-box-shadow: 0 0 0 0px rgba(155, 155, 155, 0.21), 0 0 0 5px #505050, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 0px rgba(155, 155, 155, 0.21), 0 0 0 5px #505050, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 0px rgba(129, 129, 129, 0.21), 0 0 0 5px #505050, 0 2px 5px 4px rgba(0,0,0,.2);
}

.flickorzbanner {
    width: 100%;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    font-weight: 1;
    color: #F2F4F3;
    margin-bottom: 5px;
}

/*
.other {
    font-size: 14px;
    color: #666;
}
*/

.links {
    display: flexbox;
    padding: 4px 4px;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.link {
    display: inline-block;
    margin: 3px;
    padding: 6px 10px;
    font-size: 14px;
    text-shadow: #222222 1px 0 3px;
    color: #F2F4F3;
    background: rgba(155, 155, 155, 0.21);
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s ease;
}

.link:hover {
    background: rgb(211, 99, 54);
}

/* Responsive Design */
@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}
